body{
    position: relative;
    background-color: rgb(96, 150, 180);
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif; 
}

h3{
    font-family: 'Montserrat', sans-serif; 
}

.navbar{
    position: relative;
    background-color: rgb(96, 150, 180);
    width: 500px;
}

.nav_cloud{
    position: absolute;
    left: 45%;
}

.nav_buttons{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    display: inline-block;
}

.nav_buttons-right{
    float: right;
}

.nav_buttons a{
    color: #0f4b61;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
    text-decoration: none;

}

.nav_buttons a:hover {
    background-color: #bad3dd;
    color: black;
  }

.navlogo{
    position: relative;
    right: 200px;
    margin-left: 10px;
    margin-top: 10px;
}


.top-container{

    position: relative;
    width: 100%;
} 

h1{

    font-size: 62px;
    margin:0px;

}


.intro_photo{
    position: relative;
}

.cloud_programmer{
    position: relative;
    top: 50px;
    width: 100%;
    z-index: -1;
}

.cloud_programmer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    padding-top: 100px;
}

.intro_h{
    font-family: 'Dancing Script', cursive;
    width: 100%;
    right: 10px;
    position: absolute;
    color: #BDCDD6;
}

.intro_p{
    display: inline-block;
    position: absolute;
    top: 65px;
    width: 100%;
    right: 10px;
    text-align: center;
}

p{
    display: inline;
    font-size: 20px;
    color: #EEE9DA;
    margin: 0;
}

.cloud_programmer1{
    position: absolute;
    top: 20px;
    left: 55%;
    z-index: -1;

}

.cloud_programmer2{
    position: absolute;
    top: 50%;
    right:75%;
}

                                                    /* NEXT SECTION - MIDDLE CONTAINER */


.middle-container{
    position: relative;
}

.profile {
    display: inline;
    position: relative;
}

.profile img{
    margin-top: 100px;
    width: 260px;
    height: 260px;
}